body {
    background-image: url("../static/images/background_12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: center; /* Выравниваем элементы по центру по горизонтали */
    justify-content: center; /* Выравниваем элементы по центру по вертикали */
    height: 100vh;
}

/* Стилизуем контейнер для слова "Личный кабинет" */
h1 {
    text-align: center; /* Центрируем текст */
    margin-bottom: 20px; /* Устанавливаем отступ снизу */
}

/* Стилизуем форму */
#ChangePasswordForm {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px; /* Добавляем отступ снизу */
    width: 300px; /* Ширина формы */
}

/* Стилизуем поля формы */
#ChangePasswordForm p {
    margin-bottom: 10px;
}

#ChangePasswordForm .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

#ChangePasswordForm .alert {
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
}

/* Стилизуем кнопку отправки формы */
#ChangePasswordForm button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Занимает всю ширину формы */
}

#ChangePasswordForm button[type="submit"]:hover {
    background-color: #333;
}

/* Стилизуем заголовок */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Стилизуем отступы для элементов списка заказов */
.orders-list li br {
    margin-top: 5px;
    margin-bottom: 5px;
}