body {
    background-image: url("../images/background_12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px;
}

.button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
