<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Таксисты</title>
    <link rel="stylesheet" href="../static/css/about_us.css">
</head>
<body>
    <div class="top-bar">
        <div>
            <button class="about_us-button" onclick="location.href='/about_us';">О нас</button>
            <button class="about_us-button" onclick="location.href='/contacts';">Контакты</button>
            <button class="about_us-button" onclick="location.href='/qa';">Q & A</button>
        </div>
        <button class="account-button" onclick="location.href='/login';">Аккаунт</button>
    </div>
    <header>
        <h1>О нас</h1>
    </header>

    <main>
        <section class="about-section">
            <div class="about-content">
                <p>
                    Добро пожаловать в "Таксисты" – вашу надежную службу такси. Мы предоставляем высококачественные услуги перевозки, гарантируя комфорт и безопасность каждому пассажиру.
                </p>
                <p>
                    Наша компания была основана с целью предложить клиентам лучший опыт поездок на такси. Мы гордимся нашей профессиональной командой водителей, которые обеспечивают высокое качество обслуживания и соблюдение всех стандартов безопасности.
                </p>
                <p>
                    Наши ценности включают в себя честность, надежность и стремление к совершенству. Мы используем только современные автомобили, оснащенные передовыми технологиями, чтобы обеспечить вам максимальный комфорт и безопасность.
                </p>
                <p>
                    Спасибо, что выбрали "Таксисты". Мы всегда готовы помочь вам в любых вопросах и обеспечить лучший сервис в городе.
                </p>
            </div>
            <div class="about-image">
                <img src="../static/images/about_us.jpg" alt="Фотография о нас">
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Такси Таксисты. Все права защищены.</p>
        </div>
    </footer>
    <script src="../static/js/home.js"></script>
</body>
</html>
