<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таксисты</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>
<body>
    <div class="top-bar">
        <div>
            <button class="about_us-button" onclick="location.href='/information';">О нас</button>
            <button class="about_us-button" onclick="location.href='/order';">Заказать такси</button>
            <button class="about_us-button" onclick="location.href='/pricing';">Тарифы</button>
        </div>
        <button class="account-button" onclick="location.href='/account';">Аккаунт</button>
    </div>
  
    <div class="content-section user-info-container">
        <div class="user-info-text">
            <h2>Информация о пользователе</h2>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        <a href="/change_password" class="change-password-button">Сменить пароль</a>
        <a href="/change_username" class="change-username-button">Сменить имя</a>
    </div>


    <div class="content-section">
        <h2>Мои заказы</h2>
        <ul>
            {% for trip in trips %}
                <li>
                    Откуда: {{ trip.pickup_location }} <br>
                    Куда: {{ trip.dropoff_location }} <br>
                    Расстояние: {{ trip.len_way }} м. <br>
                    Стоимость: {{ trip.fare }} Р.<br>
                    Статус: {{ trip.status }}
                    Cпособ оплаты : {{ trip.payment_method }}<br>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="../static/js/account.js"></script> <!-- Подключаем файл скриптов -->
</body>
</html>
