<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таксисты</title>
    <link rel="stylesheet" href="../static/css/change_password.css">
</head>
<body>
    <div class="top-bar">
        <div>
            <button class="about_us-button" onclick="location.href='/information';">О нас</button>
            <button class="about_us-button" onclick="location.href='/order';">Заказать такси</button>
            <button class="about_us-button" onclick="location.href='/pricing';">Тарифы</button>
        </div>
        <button class="account-button" onclick="location.href='/account';">Аккаунт</button>
    </div>
    <div class="change-password-section">
    <h2>Смена пароля</h2>
    <form id="ChangePasswordForm" method="post" action="/change_password" enctype="multipart/form-data" novalidate>
        <!-- CSRF токен для защиты от подделки межсайтовых запросов -->
        {{ form.csrf_token }}
        <!-- Поле для ввода старого пароля-->
        <p>
            {{ form.old_password.label }}
            {{ form.old_password(class="form-control") }}
            <!-- Вывод ошибок валидациии -->
            {% for error in form.old_password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </p>

        <!-- Поле для ввода нового пароля -->
        <p>
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control") }}
            <!-- Вывод ошибок валидации-->
            {% for error in form.new_password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </p>

        <!-- Кнопка отправки формы -->
        <button type="submit" class="change-password-button">Сменить пароль</button>
    </form>
</div>


    <script src="change_password.js"></script>
</body>
</html>

