<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты - Таксисты</title>
    <link rel="stylesheet" href="../static/css/about_us.css">
</head>
<body>
    <div class="top-bar">
        <div>
            <button class="about_us-button" onclick="location.href='/about_us';">О нас</button>
            <button class="about_us-button" onclick="location.href='/contacts';">Контакты</button>
            <button class="about_us-button" onclick="location.href='/qa';">Q & A</button>
        </div>
        <button class="account-button" onclick="location.href='/login';">Аккаунт</button>
    </div>
    <header>
        <h1>Контакты</h1>
    </header>

    <main>
        <section class="about-section">
            <div class="about-content">
                <p>
                    Свяжитесь с нами для получения дополнительной информации или если у вас есть вопросы по нашим услугам.
                </p>
                <p>
                    <strong>Адрес:</strong> г. Москва, ул. Тверская, д. 7
                </p>
                <p>
                    <strong>Телефон:</strong> +7 (495) 123-45-67
                </p>
                <p>
                    <strong>Email:</strong> info@taksisty.ru
                </p>
                <p>
                    <strong>Режим работы:</strong> Круглосуточно, без выходных
                </p>
                <p>
                    Мы всегда рады помочь вам и ответить на все ваши вопросы. Спасибо, что выбрали "Таксисты".
                </p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Такси Таксисты. Все права защищены.</p>
        </div>
    </footer>
    <script src="../static/js/home.js"></script>
</body>
</html>
