<h1>Личный кабинет</h1>
<p>Имя пользователя: {{ driver.username }}</p>
<p>Email: {{ driver.email }}</p>
<p>Телефон: {{ driver.phone_number}} </p>
<p>Модель машины: {{ driver.car_model}} </p>
<p>Номерной знак: {{ driver.license_plate }}</p>
<p>Баланс: {{ driver.balance }}</p>


<h2>Мои заказы</h2>
<ul>
    {% for trip in trips %}
        <li>
            Откуда: {{ trip.pickup_location }} <br>
            Куда: {{ trip.dropoff_location }} <br>
            Стоимость: {{ trip.fare }} <br>
            Статус: {{ trip.status }}
        </li>
        <br><br>
    {% endfor %}
</ul>