<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Водитель заканчивает поездку</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>
<body>
    <h1>Путь до конечной точке маршрута</h1>
    <form method="post" action="/passage" novalidate>
        {{ form.csrf_token }}
        <p>
            Местоположение клиента: {{ pickup_location }} <br>
            Конечная точка поездки: {{ dropoff_location }} <br>
            Cтоимость поездки: {{ fare }}
        </p>
    
        <!-- Кнопка отправки формы -->
        <input type="hidden" name="form_type" value="endTrip">
        <input type="submit" value="Завершить поездку">
    </form>
<script src="../static/js/account.js"></script> <!-- Подключаем файл скриптов -->
</body>
</html>