<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аккаунт водителя</title>
    <link rel="stylesheet" href="../static/css/qa.css">
</head>
<body>
    <div class="top-bar">
        <div>
            <button class="about_us-button" onclick="location.href='/passage';">Заказ</button>
        </div>
        <button class="account-button" onclick="location.href='/driver_account';">Аккаунт</button>
    </div>
    <h1>Начать выполнять заказ</h1>
    <form id="passageForm" method="post" action="/passage" enctype="multipart/form-data" novalidate>
        <!-- CSRF токен для защиты от подделки межсайтовых запросов -->
        {{ form.csrf_token }}
        <!-- Поле для ввода места начала поездки -->
        <p>
            {{ form.location.label }}
            {{ form.location() }}
            <!-- Вывод ошибок валидации места начала поездки -->
            {% for error in form.location.errors %}
                {{ error }}
            {% endfor %}
        </p>
    
        <!-- Поле для ввода места окончания поездки -->
        <!-- Кнопка отправки формы -->
        <input type="hidden" name="form_type" value="findOrder">
        <input type="submit" value="Поиск заказа">
    </form>
    </body>
</html>