<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/booking.css">
    <title>Таксисты</title>
</head>
<body>
    <header>
        <h1>Таксисты</h1>
        <img src="static/images/taxi_logo.png" alt="taxi logo" width="90px" height="30px">
        <p>тише едешь, дальше будешь</p>
    </header>

    <section class="main-content">
        <div class="box">
            <a href="index.html"><h2>Главная</h2></a>
        </div>
        <div class="box">
            <a href="account.html"><h2>Личный кабинет</h2></a>
        </div>
        <div class="box">
            <a href="about.html"><h2>О нас</h2></a>
            </div>
    </section>
    <div>
        <img src="static/images/taxi1.jpg" width="487px" height="320px">
        <img src="static/images/taxi2.jpg" width="487px" height="320px">
        <img src="static/images/taxi3.jpg" width="487px" height="320px">
    </div>
    <main>
		<form style="border:1px solid #ccc">
            <div class="container">
              <h1>Вызов такси</h1>
              <hr>

              <label id="from"><b>Откуда</b></label>
              <input type="text" placeholder="Откуда едем?" name="from" required>

              <label id="to"><b>Куда</b></label>
              <input type="text" placeholder="Куда едем?" name="to" required>

              <label id="adult"><b>Взрослые</b></label>
              <input type="text" placeholder="Сколько взрослых?" name="adult" required>

              <label id="child"><b>Дети</b></label>
              <input type="text" placeholder="Сколько детей?" name="child" required>

              <div class="clearfix">
                <button type="button" class="cancelbtn">Отменить</button>
                <button type="submit" class="signupbtn">Вызвать</button>
              </div>
            </div>
          </form>

    </main>
    <footer>
        <p>8-800-535-35-35</p>
        <a href="https://youtu.be/dQw4w9WgXcQ?si=DU9QuHfIWFx7K5HS"><img src="static/images/git.jpg" alt="гитхаб иконка" width="60px"></a>
        <p>&copy; 2024 Таксисты. Все права защищены.</p>
    </footer>
</body>
</html>
