<div class="button-input-container"> <!-- Контейнер для кнопки и полей ввода -->
        <form id="orderForm" method="post" action="/order" enctype="multipart/form-data" novalidate>
            <!-- CSRF токен для защиты от подделки межсайтовых запросов -->
            {{ form.csrf_token }}
            <!-- Поле для ввода места начала поездки -->
            <p>
                {{ form.pickup_location.label }}
                {{ form.pickup_location() }}
                <!-- Вывод ошибок валидации места начала поездки -->
                {% for error in form.pickup_location.errors %}
                    {{ error }}
                {% endfor %}
            </p>

            <!-- Поле для ввода места окончания поездки -->
            <p>
                {{ form.dropoff_location.label }}
                {{ form.dropoff_location() }}
                <!-- Вывод ошибок валидации места окончания поездки -->
                {% for error in form.dropoff_location.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        <p>
            {{ form.payment_method.label }} {{ form.payment_method }}
            {{ form.rate.label}} {{ form.rate }}
        </p>

            <!-- Кнопка отправки формы -->
            <input type="submit" class="auth-button" value="Создать заказ">
        </form>
    </div>

</body>
</html>