<body>
    <h1>Создать заказ</h1>
    <form id="orderForm" method="post" action="/order" enctype="multipart/form-data" novalidate>
        <!-- CSRF токен для защиты от подделки межсайтовых запросов -->
        {{ form.csrf_token }}
        <!-- Поле для ввода места начала поездки -->
        <p>
            {{ form.pickup_location.label }}
            {{ form.pickup_location() }}
            <!-- Вывод ошибок валидации места начала поездки -->
            {% for error in form.pickup_location.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <!-- Поле для ввода места окончания поездки -->
        <p>
            {{ form.dropoff_location.label }}
            {{ form.dropoff_location() }}
            <!-- Вывод ошибок валидации места окончания поездки -->
            {% for error in form.dropoff_location.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <!-- Кнопка отправки формы -->
        <input type="submit" value="Создать заказ">
    </form>
</body>