<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Booking</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>
    <form method="post" action="/register" enctype="multipart/form-data" novalidate>
        <!-- Защита от подделки межсайтовых запросов-->
        {{ form.csrf_token }}
        <!-- Получаем значения из полей -->
        <p>
            <!-- Валидации имени (Только Кириллица)-->
            {{ form.username.label }} {{ form.username() }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            <!-- Валидация Электронной почты-->
            {{ form.email.label }} {{ form.email() }}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            <!-- Валидация Пароля-->
            {{ form.password.label }} {{ form.password() }}
            {% for error in form.password.errors %}
                <p> {{ error }} </p>
            {% endfor %}
        </p>
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
</body>
</html>
