<!DOCTYPE html>
<html>
<head>
    <title>С нами по пути</title>
</head>
<body>
    <h1>Авторизация</h1>
    <!-- Создаем форму используя Jinja -->
    <form method="post" action="/login" enctype="multipart/form-data" novalidate>
        <!-- Защита от подделки межсайтовых запросов-->
        {{ form.csrf_token }}
        <!-- Получаем значения из полей -->
        <p>
            <!-- Валидация Электронной почты-->
            {{ form.email.label }} {{ form.email() }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <!-- Валидация Пароля-->
            {{ form.password.label }} {{ form.password() }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <input type="submit" value="Авторизироваться">
    </form>
</body>
</html>
